/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
@import "colorVariables";
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "container-grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: $primary;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

header {
  border-bottom: 1px solid $gray-200;
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  .navbar {
    height: 80px;

    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $primary;
          }
        }
        a {
          &.nav-link {
            letter-spacing: 1px;
            color: $gray-900;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

section {
  margin-bottom: 70px;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-contain {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.card {
  &.bordered {
    border: 1px solid $gray-200;
  }
  border-radius: 15px;

  .tag {
    z-index: 3;
    font-size: 0.875rem;
    background-color: $indigo;
    padding: 0.25rem 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    min-height: 30px;
    border-radius: 0 15px;
    font-weight: 400;
    span {
      font-weight: 300;
    }
  }

  .img-wrapper {
    height: 100%;
    margin-bottom: 0;
    border-radius: 0.9375rem;
    overflow: hidden;
  }

  .meta-wrapper {
    margin-top: 1rem;
    h5 {
      font-size: 1.125rem;
      margin-bottom: 2px;
    }
    span {
      font-size: 0.875rem;
    }
  }

  &.card-featured {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }

    .img-wrapper {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.25s transform ease-in-out;
    }

    .meta-wrapper {
      z-index: 4;
      color: $white;
      padding: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(0);
      transition: 0.3s transform ease-in-out;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    &:hover {
      .meta-wrapper {
        transform: translateY(-10px);
      }
      &:after {
        transform: scale(1);
      }
      .img-wrapper {
        transform: scale(1);
      }
    }
  }
}

.testimonial-hero,
.testimonial-hero img {
  width: 365px;
  height: 500px;
}

footer {
  border-top: 1px solid $gray-200;
  padding-top: 50px;

  .brand-tagline {
    margin-top: 8px;
    color: $gray-500;
    font-weight: 300;
  }

  .list-group-item {
    padding: 0.3125rem 0;
    border: 0;
    a,
    span {
      color: $gray-500;
      font-weight: 300;
    }
    a {
      @include hover-focus {
        color: $gray-800;
      }
    }
  }
  .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: $gray-500;
  }
}

main {
  p {
    color: $gray-500;
    font-weight: 300;
  }
}

//custom section
.custom-section {
  justify-content: space-around;
  h2 {
    font-weight: 700;
    font-size: 4rem;
    // color: $primary;
    // white-space: nowrap;
    // yg diatas ini maksa supaya 1 baris
    line-height: 1;
    //supaya jarak atas bawahnya ga terlalu jauh
  }
  h3 {
    font-weight: 400;
    font-size: 2rem;
    // color: $secondaryColor;
    line-height: 1;
  }

  p {
    // color: $textColor;
    font-size: 1.1rem;
    margin-top: 2em;
  }

  a {
    margin-top: 2.2em;
    // @include tombol;
    border: 1px solid transparent;
    transition: 0.5s ease;

    &::hover {
      // color: $primaryColor;
      // border: 1px solid $primaryColor;
      background-color: blue;
    }
  }

  .gambarHeroMaid {
    img {
      width: 600px;
      height: 600px;
    }
  }
}

.listMaid {
  margin-left: 35px;
  margin-top: 40px;
  width: 235px;
  height: 400px;
  border: 5px double gray;
  display: inline-block;
  border-radius: 10px;

  .card {
    width: 14rem;
    height: 4rem;
  }
}

.video-player {
  display: flex;
  justify-content: center;
}

.photo-maid {
  width: 300px;
  height: 400px;
}

.biodata {
  height: 32rem;

  background-image: url(../images/dynamic-style.png);
  margin-top: -8px;

  .title {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    font-size: 3rem;
  }

  .ruletext {
    display: flex;
    flex-direction: row;
    flex: 1;
    // justify-content: center;
    margin-left: 300px;
    font-size: 1.2rem;
  }

  .namadanfoto {
    display: flex;
    justify-content: space-between;

    .foto {
      border-radius: 50;
      width: 100px;
      height: 100px;
    }
  }
}

.carousel-item {
  height: 32rem;
  background: pink;

  .rowListMaid {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    background: #dde1e7;

    .containerneumorphism {
      // display: flex;
      // justify-content: center;

      align-items: center;
      padding: 30px;
      background: #dde1e7;
    }

    .neumorphism-1 {
      // height: 300px;
      width: 300px;
      background: #dde1e7;
      border-radius: 5px;
      box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

      .dataMaid {
        height: 260px;
        // width: 80px;

        .img-cover {
          border-radius: 50px;
        }
      }
      .desc {
        display: flex;
        justify-content: center;
        display: block;

        .readMore {
          display: flex;
          justify-content: center;
        }

        .nama {
          font-weight: bold;
          display: flex;
          justify-content: center;
        }

        .location {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.box {
  display: flex;
  justify-content: center;

  .kotakdetail {
    // height: 90px;
    position: relative;
    margin-top: -60px;
    border-radius: 30;
    // border: 1px solid black;
    height: 300px;
    width: 800px;
    background: #b2d3f3;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    .box1 {
      border-right: 5px solid white;
    }
  }
}

.headerFaq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  font-size: 36px;
}

.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: wheat;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
